@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #000c3a;
    --orange-color: #ee6804;
    --white-color: white;
    --product-color: #f6f6f8;
}

body {
    font-family: "Roboto", sans-serif;
}

/* start header */
.active {
    color: var(--orange-color);
}

header {
    display: flex;
    background-color: var(--main-color);
    justify-content: center;
    height: 45px;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
}

header .logo {
    display: flex;
    font-size: 20px;
    color: var(--orange-color);
    margin-right: 100px;
}

header .logo h2 {
    color: var(--white-color);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 5px;
}

header ul {
    list-style: none;
    display: flex;
    width: 700px;
    justify-content: center;
}

header ul li a {
    margin-left: 18px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}

header .login {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

header .login .user {
    margin-right: 18px;
}

header .login .cart {
    display: flex;
    color: var(--white-color);
}

header .login .cart .count-products {
    padding-top: 5px;
    margin-right: 25px;
}
/* end header */




/* start section cart */

.cart {
    /* background-color: var(--product-color); */
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart .global-div {
    display: flex;
    margin-bottom: 50px;
    width: 1000px;
}

.cart .acheter-div {
    display: flex;
    background-color: var(--main-color);
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--white-color);
    height: 50px;
}

.cart .no-product {
    background-color: var(--product-color);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart .no-product p {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    border: 1px solid black;
    padding: 20px;
    border-radius: 6px;
}

.cart .acheter-div p {
    font-size: 23px;
    font-weight: 500;
}

.cart .acheter-div button {
    margin-left: 30px;
    width: 120px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: var(--white-color);
    background-color: var(--orange-color);
    height: 30px;
    text-transform: capitalize;
    border-radius: 6px;
    cursor: pointer;
}

.cart .global-div .left-div {
    width: 350px;
    background-color: var(--product-color);
}

.cart .global-div .left-div h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 5px;
}

.cart .global-div .left-div p {
    padding-left: 20px;
    font-size: 23px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.cart .global-div .left-div .image-div {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.cart .global-div .left-div .image-div img {
    width: 250px;
    height: 250px;
}

.cart .global-div .right-div {
    padding: 20px;
    width: 650px;
}

.cart .global-div .right-div button {
    color: white;
    width: 100px;
    text-transform: capitalize;
    border: none;
    height: 30px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    background-color: red;
    left: 500px;
}

.cart .global-div .right-div p {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.cart .global-div .right-div .reviews {
    margin-top: 20px;
    padding-left: 20px;
}

.cart .global-div .right-div .reviews .review {
    display: flex;
    margin-bottom: 10px;
}

.cart .global-div .right-div .reviews .review img {
    width: 35px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.cart .global-div .right-div .reviews .review .comment {
    margin-bottom: 10px;
}

/* end section cart */